<div class="table-container">
  <h2 class="table-title">Gestión de tareas por usuario</h2>

  <!-- Botón Crear externo -->
  <div class="top-actions">
    <button class="btn-create" (click)="showForm = true">
      + Crear Nueva Tarea
    </button>
  </div>

  <!-- Modal Crear -->
  <app-create *ngIf="showForm"
    [newTask]="newTask"
    (onCreate)="createTask($event)"
    (onClose)="showForm = false">
  </app-create>

  <app-edit *ngIf="showEdit"
    [task]="editingTask"
    (onUpdate)="updateTask($event)"
    (onClose)="showEdit = false">
  </app-edit>

  <!-- Loader -->
  <div *ngIf="loading()" class="loader-container">
    <div class="loader"></div>
    <span>Cargando datos...</span>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="message()" class="alert alert-error">
    {{ message() }}
  </div>

  <!-- Tabla -->
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre del usuario</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Hora de creación</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks()">
        <td>{{ task.id }}</td>
        <td>{{ task.user.name + ' ' + task.user.last_name }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          <span [ngClass]="{
            'status-pending': task.status_task?.name === 'Pendiente',
            'status-completed': task.status_task?.name === 'Completada'
          }">
            {{ task.status_task?.name }}
          </span>
        </td>
        <td>{{ task.create_date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>
          <!-- Botón de editar con icono -->
          <button class="btn-edit" (click)="openEdit(task)" title="Editar">
            <i class="fa fa-edit"></i> <!-- necesitas Font Awesome cargado -->
          </button>
        </td>
      </tr>
      <tr *ngIf="tasks().length === 0 && !loading()">
        <td colspan="7" class="no-data">No hay datos disponibles</td>
      </tr>
    </tbody>
  </table>


  <!-- Controles de paginación -->
  <div class="pagination-controls" *ngIf="totalPages() > 1">
    <button (click)="prevPage()" [disabled]="page() === 1"> ⬅ Anterior </button>
    <span> Página {{ page() }} de {{ totalPages() }} </span>
    <button (click)="nextPage()" [disabled]="page() === totalPages()"> Siguiente ➡ </button>
  </div>
</div>
